.home-wrapper {
	height: 100vh;
	width: 100%;
	display: grid;
	place-items: center;
	padding: 0px 20px 0px 20px;
}

.home {
	display: flex;
	flex-direction: column;
}

.home-title {
	display: flex;
	font-weight: 600;
	font-size: 50px;
	text-align: left;

	> h1 {
		margin-right: 10px;
		font-weight: inherit;
		font-size: inherit;
	}

	> h1:last-child {
		color: $accent;
	}
}

.home-info {
	font-weight: 400;
	font-size: 30px;
	text-align: left;
	display: flex;
}

.home-buttons {
	display: flex;
	width: 100%;

	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

	a.button.button-black {
		font-size: 25px;
	}

	a.button.button-string {
		font-size: 35px;
	}

	div {
		width: fit-content;
	}

	div:not(:last-child) {
		margin-right: 15px;
	}
}

@media screen and (max-width: 960px) {
	.home-title {
		display: inline-flex;
		width: max-content;

		font-size: 30px;
		line-height: 30px;
	}

	.home-info {
		font-size: 20px;
		line-height: 30px;

		transform: unset;
	}

	.home-socials {
		font-size: 20px;
		transform: none;
	}
}
