@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/* --vars-- */
$accent: #e31c25;
$accent-active: #bb000e;
$white: #eff1f3;
$black: #000;
$grey: #b8b8b8;

$border: #424242;

$page-background: #111111;
$page-triangle: #161616;
$nav-background: #1c1c1c;

$button-black: #1c1d1e;
$button-black-active: #0e0e0f;

$button-grey: #404142;
$button-grey-active: #595b5e;

$button-main: #3083ff;
$button-main-active: #0f51b4;

$button-danger: #e74c3c;
$button-danger-active: #ef3825;

* {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
	color: $white;
	box-sizing: border-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $page-background;
	background-attachment: fixed;
	min-height: 100vh;

	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

a {
	text-decoration: none;

	user-select: none; /* standard syntax */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

@import "./other.scss";

@import "./components/General/slider.scss";
@import "./components/General/Button.scss";

@import "./components/Main/scrollTop.scss";
@import "./components/Main/navbar.scss";

@import "./components/animeManga.scss";
@import "./components/loading.scss";
@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/404.scss";
