.footer-container {
	width: 100%;

	align-items: center;
	justify-content: center;

	background-color: $foot-background;
}

.footer-inner {
	width: 80%;
	margin: auto;

	font-size: 16px;
	font-weight: 500;
}

.footer-socials {
	padding: 25px 10px;

	border-bottom: 1px solid $border;

	i {
		font-size: 22px;
		padding: 5px;
	}
}

.footer-links {
	padding: 25px 10px;

	width: min-content;

	display: flex;
	flex-direction: column;

	a {
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin-left: 5px;
		}
	}

	a:first-of-type {
		margin-bottom: 10px;
	}
}

.footer-info {
	width: 100%;

	padding: 15px 10px;

	text-align: right;
	align-items: center;
	justify-content: space-between;
	display: flex;

	border-top: 1px solid $border;

	p {
		i {
			font-style: normal;

			font-weight: 600;
		}
	}
}

.footer-LG {
	width: 36px;
	height: 36px;
}
